memory/workflow_snapshots/jsvJJCME4WOAVSB7/v37_webhook_trigger.json
{
  "snapshot_timestamp": "2025-12-05T18:36:28.220Z",
  "workflow_id": "jsvJJCME4WOAVSB7",
  "name": "FoodTracker_Tester",
  "version_counter": 37,
  "version_id": "25d2dbaf-5099-4cda-80ce-4f4b3dca1105",
  "active": true,
  "change_description": "Replaced Chat Trigger with Webhook Trigger for external API testing",
  "nodes": [
    {
      "id": "webhook-trigger-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "test-foodtracker-webhook",
      "parameters": {
        "path": "/test-foodtracker",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "prepare-test-message-001",
      "name": "Prepare Test Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "msg-id",
              "name": "message",
              "type": "object",
              "value": "={{ { message_id: 99999, from: { id: 682776858, is_bot: false, first_name: 'TestUser' }, chat: { id: 682776858, first_name: 'TestUser', type: 'private' }, date: Math.floor(Date.now() / 1000), text: $json.body?.text || $json.text || 'запиши 200г курицы' } }}"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "call-foodtracker-001",
      "name": "Call FoodTracker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [650, 300],
      "parameters": {
        "source": "database",
        "workflowId": "sw3Qs3Fe3JahEbbW",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "extract-result-001",
      "name": "Extract Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract result from FoodTracker execution\nconst inputData = $input.all();\n\nreturn [{\n  json: {\n    test_status: 'success',\n    input_received: inputData.length > 0 ? inputData[0].json : null,\n    result_summary: 'FoodTracker processed test message',\n    timestamp: new Date().toISOString(),\n    note: 'Check FoodTracker execution logs for full processing details'\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Prepare Test Message", "type": "main", "index": 0}]]
    },
    "Prepare Test Message": {
      "main": [[{"node": "Call FoodTracker", "type": "main", "index": 0}]]
    },
    "Call FoodTracker": {
      "main": [[{"node": "Extract Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
